body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {

  background-color: rgba(255, 255, 255, 0.5);
  /* Adjust the alpha value (0.5 in this case) to control transparency */
  padding: 20px;
  border-radius: 12px ;
  /* Example border style */
  /* max-width: 400px;
  margin: 100px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

.login-form {
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
button {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.separator {
  margin: 10px 0;
  position: relative;
}

.separator:before,
.separator:after {
  content: "";
  display: inline-block;
  width: 45%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.separator:before {
  right: 10px;
}

.separator:after {
  left: 10px;
}

.google-login {
  background-color: #dd4b39;
  color: #fff;
}

.google-login:hover {
  background-color: #c23321;
}

.signup-container {
  margin-top: 20px;
  text-align: center;
}

.signup-container p {
  margin-bottom: 10px;
}

.signup-link {
  color: #007bff;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}
